/* テンプレートによる自動作成　ここから */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* テンプレートによる自動作成　ここまで */

/* 表題用 */
.main-title {
    border: 3px solid gainsboro;
    padding: 15px;
}

/* サブトピック */
.sub-title {
    border: 3px solid gainsboro;
    padding: 15px;
    min-height: 400px;
    margin-bottom: 20px;
}

    .sub-title .topic {
        display: block;
        padding-left: 30px;
    }

/* 小見出しラベル */
label.title {
    font-weight: bold;
}

/* 基本的な画面の構成 */
.main-contents {
    border: 3px solid gainsboro;
    min-height: 1000px;
    margin-top: 10px;
}

/* 基本的なボタン配置 */
.button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
}

    .button-section .right-group{
        display: flex;
        align-items: center;
        gap: 12px;
    }


/* ボタンの見た目 */
.btn-link {
    display: inline-block; /* サイズを持たせる */
    padding: 4px 8px; /* ボタンの余白 */
    background-color: #2563eb; /* 青系（例） */
    color: #fff; /* 文字色 */
    text-decoration: none; /* 下線を消す */
    border-radius: 6px; /* 角丸 */
    font-weight: 600;
    cursor: pointer; /* マウスカーソル */
    text-align: center;
    min-width: 75px;
}

    .btn-link:hover {
        background-color: #1e40af;
    }

    .btn-link:active {
        transform: translateY(1px);
    }


/* 説明文のフォーマット */
.main-caption {
    font-size: 30px;
    padding: 10px 0px 0px 10px;
}

.sub-caption {
    font-size: 20px;
    padding: 0px 0px 10px 10px;
}