@page
@model IndexModel
@{
    ViewData["Title"] = "自己管理促進ツール";
}

<div class="main-title">
    <h1>Home</h1>
</div>
<br>
<div class="sub-title">
    <h2>認知行動療法</h2>
    <p class="topic">
        <a asp-page="/CBT/SevenColumns/Index">▶ ７つのコラム</a>
    </p>
</div>

<div class="sub-title">
    <h2>コミュニケーション技法</h2>
    <p class="topic">▶ アンガーマネジメント</p>
    <p class="topic">▶ DESC法</p>
</div>

<div class="sub-title">
    <h2>心理教育</h2>
    <p class="topic">▶ 運動量管理（METS）</p>
    <p class="topic">▶ 食事管理</p>
</div>

<div class="sub-title">
    <h2>誰かの更新箇所</h2>
    <p class="topic">▶ 運動量管理（METS）</p>
    <p class="topic">▶ 食事管理</p>
</div>