/* 自動思考の根拠 */
.auto-thought-evidence-area {
    margin: 10px;

}

.auto-thought-evidence {
    border: 1px solid;
    width: 500px;
    padding: 10px;
    height: 100px;
}

/* 反証 */
.counter-evidence-area {
    margin: 10px;
}

.counter-evidence {
    border: 1px solid;
    width: 500px;
    padding: 10px;
    height: 500px;
    text-align: left;
}