@page
@model CBT_Practice.Pages.CBT.SevenColumns.Step01_SituationModel
@{
    ViewData["Title"] = "７つのコラム 新規作成";
}

<div class="main-title">
    <h1>７つのコラム　新規作成</h1>
</div>

<div class="main-contents">
    <div class="caption">
        <label class="main-caption">自動思考の発生状況について整理しよう</label>
        <br>
        <label class="sub-caption">(事実ベースで定量的に)</label>
    </div>
    
    <div class="situation">
        <label>いつ　　　：</label>
        <input type="date" value="" />
        <span>の</span>
        <input type="text">
    </div>

    <div class="situation">
        <label>どこで　　　：</label>
        <input type="text">
    </div>

    <div class="situation">
        <label>だれが　　　：</label>
        <input type="text">
        <label>が</label>
        <input type="text">
        <label>に</label>
    </div>

    <div class="situation">
        <label>なにを　　　：</label>
        <input type="text">
    </div>

    <div class="situation">
        <label>どのように：</label>
        <input type="text">
    </div>

    <br>

    <div class="situation">
        <label>その他の背景情報：</label>
        <br>
        <input type="text">
    </div>

</div>

