/* 自動思考入力部 */
.auto-thought-section{
    margin: 10px 0px 20px 10px; 
    border-bottom: 2px dotted;
    width: 500px;
    padding: 10px;
}

.auto-thought-area{
    margin-bottom: 10px;
}

/* 感情入力部 */
.emotion {
    margin: 2px;
}

.emotion-point {
    border: none;
    border-bottom: 1.5px dotted;
}

.emotion-btn-area {
    margin: 5px;
}

/* 自動思考の追加／削除ボタン表示部 */
.section-btn-area{
    margin: 10px;
}