.auto-thought-section{
    margin: 10px 0px 20px 10px; 
    border-bottom: 2px dotted;
    width: 500px;
    padding: 10px;
}

.auto-thought-area{
    margin-bottom: 10px;
}

.emotion {
    margin: 2px;
}

.emotion-point {
    border: none;
    border-bottom: 1.5px dotted;
}

.emotion-btn-area {
    margin: 5px;
}

.section-btn-area{
    margin: 10px;
}