@page
@model CBT_Practice.Pages.CBT.SevenColumns.Step01_SituationModel
@{
    ViewData["Title"] = "７つのコラム 新規作成";
}
<form method="post">
    <div class="main-title">
        <h1>７つのコラム　自動思考の発生状況</h1>
    </div>

    <div class="button-section">
        <a asp-page="index" class="btn-link">一覧に戻る</a>
    </div>

    <div class="main-contents">
        <div class="caption">
            <label class="main-caption">自動思考の発生状況について整理しよう</label>
            <br>
            <label class="sub-caption">(事実ベースで定量的に)</label>
        </div>

        <div class="situation">
            <div class="label">いつ&emsp;&emsp;&emsp;&emsp;&emsp;</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="date" class="two-component" asp-for="Situation.HappenedTime">
                <label class="conjunctions">の</label>
                <input type="text" class="two-component" asp-for="Situation.HappenedTimeDetail">
            </div>
        </div>

        <div class="situation">
            <div class="label">どこで&emsp;&emsp;&emsp;&emsp;</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.HappenedPlace">
            </div>
        </div>

        <div class="situation">
            <div class="label">だれが&emsp;&emsp;&emsp;&emsp;</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="two-component" asp-for="Situation.CharacterFrom">
                <label class="conjunctions">が</label>
                <input type="text" class="two-component" asp-for="Situation.CharacterTo">
                <label class="conjunctions">に</label>
            </div>
        </div>

        <div class="situation">
            <div class="label">なにを&emsp;&emsp;&emsp;&emsp;</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.ProposalObject">
            </div>
        </div>

        <div class="situation">
            <div class="label">どのように&emsp;&emsp;</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.Approach">
            </div>
        </div>

        <br>

        <div class="other-situation">
            <div class="label">その他の背景情報：</div>
            <input type="text" class="one-component" asp-for="Situation.OtherBackgroundInfo">
        </div>
    </div>
    <div class="button-section">
        <button>一時保存</button>
        <button class="btn-link" type="submit">次へ</button>
    </div>
</form>

