@page
@model CBT_Practice.Pages.CBT.SevenColumns.Step03_EvidenceModel
@{
    ViewData["Title"] = "７つのコラム 新規作成";
}

<form method="post">
    <div class="main-title">
        <h1>７つのコラム　自動思考の根拠と中核信念</h1>
    </div>

    <div class="button-section">
        <a asp-page="index" class="btn-link">一覧に戻る</a>
    </div>


    <div class="main-contents">
        <div class="caption">
            <label class="main-caption">自動思考の根拠と、その基になっている中核信念を探ろう</label>
        </div>

        <div class="evidence-section">
            <div class="auto-thought-area">
                <label class="title">・自動思考</label>
                <div class="auto-thought">
                    <input type="text" asp-for="MainAutoThought" disabled>
                </div>
            </div>
            <div class="arrow-block">
                <div class="arrow"></div>
                <div class="arrow-caption"><label>そう思った根拠は？</label></div>
            </div>
            <div class="thought-evidence-area">
                <label class="title">・自動思考の根拠</label>
                <div class="auto-thought-evidence">
                    <input type="text" asp-for="Evidence.AutoThoughtEvidence" />
                </div>
            </div>
            <div class="arrow-block">
                <div class="arrow"></div>
                <div class="arrow-caption"><label>もっと極端に言えば</label></div>
            </div>
            <div class="inside-belief-area">
                <label class="title">・中間信念</label>
                <div class="inside-belief">
                    <input type="text" asp-for="Evidence.InsideBelief" />
                </div>
            </div>
            <div class="arrow-block">
                <div class="arrow"></div>
                <div class="arrow-caption"><label>断定系にすると</label></div>
            </div>
            <div class="core-belief-area">
                <label class="title">・中核信念</label>
                <div class="core-belief">
                    <input type="text" asp-for="Evidence.CoreBelief" />
                </div>
            </div>
        </div>
    </div>

    <div class="button-section">
        <a asp-page="Step02_AutoThoughts" class="btn-link">前の画面に戻る</a>
        <button type="button">一時保存</button>
        <button type="submit" class="btn-link">次へ</button>
    </div>
</form>

@section scripts{

}