@page
@model CBT_Practice.Pages.CBT.SevenColumns.Step01_SituationModel
@{
    ViewData["Title"] = "７つのコラム 新規作成";
}
<form method="post">
    <input type="hidden" asp-for="SevenColumnsId" />
    <div class="main-title">
        <h1>７つのコラム　自動思考の発生状況</h1>
    </div>

    <div class="button-section">
        <a asp-page="index" class="btn-link">一覧に戻る</a>
    </div>

    <div class="main-contents">
        <div class="caption">
            <label class="main-caption">自動思考の発生状況について整理しよう</label>
            <br>
            <label class="sub-caption">(事実ベースで定量的に)</label>
        </div>

        <div class="situation">
            <div class="label">いつ</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="date" class="two-component" asp-for="Situation.HappenedTime">
                <label class="conjunctions">の</label>
                <input type="text" class="two-component" asp-for="Situation.HappenedTimeDetail">
            </div>
        </div>

        <div class="situation">
            <div class="label">どこで</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.HappenedPlace">
            </div>
        </div>

        <div class="situation">
            <div class="label">だれが</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="two-component" asp-for="Situation.CharacterFrom">
                <label class="conjunctions">が</label>
                <input type="text" class="two-component" asp-for="Situation.CharacterTo">
                <label class="conjunctions">に</label>
            </div>
        </div>

        <div class="situation">
            <div class="label">なにを</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.ProposalObject">
            </div>
        </div>

        <div class="situation">
            <div class="label">どのように</div>
            <div class="colon">：</div>
            <div class="field">
                <input type="text" class="one-component" asp-for="Situation.Approach">
            </div>
        </div>

        <br>

        <div class="other-situation">
            <div class="label">その他の背景情報：</div>
            <input type="text" class="one-component" asp-for="Situation.OtherBackgroundInfo">
        </div>
    </div>

    <div class="button-section">
        <div></div>
        <button class="btn-link temp-save-btn" type="button">一時保存</button>
        <button class="btn-link" type="submit">次へ</button>
    </div>

    <div id="modal" style="display:none">
        <div class="modal-content">
            <label>タイトル：</label>
            <input type="text" asp-for="Title" />
            <br />
            <div class="btn-area">
                <button asp-page-handler="TempSave">保存</button>
                <button type="button" class="cancel-btn">キャンセル</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/sevenColumns.js"></script>
}