input[type="text"] {
    border: 1px solid;
    width: 500px;
    padding: 10px;
    height: 100px;
}

/* 矢印 */
.arrow-block {
    display: flex;
    margin: 10px 0px 20px 10px;
}

.arrow {
    display: inline-block;
    width: 43.5px;
    height: 75px;
    background: #AFDFE4;
    clip-path: polygon(0 63.2%, 31% 63.2%, 31% 0, 69% 0, 69% 63.2%, 100% 63.2%, 50% 100%);
}

.arrow-caption {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.85em;
}

/* 自動思考 */
.auto-thought-area {
    margin: 10px 0px 20px 10px;
}

.auto-thought > input {
    height: 50px;
}

/* 自動思考の根拠 */
.auto-thought-evidence {
    margin: 10px 0px 20px 10px;
}

